---

---

<footer class="footer footer-center p-4 bg-base-100 text-base-content rounded-box mt-8">
  <div>
    <p>
      Made with
      <span class="text-error">❤️</span>
      for a better web experience
    </p>
  </div>
</footer>
